.res-colors-cont {
   display: flex;
   flex-flow: column nowrap;
}

.res-color-controls {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: stretch;
}

.res-color-result-cont {
   display: flex;
   flex-flow: row nowrap;
}

.res-color-result {
   font-size: 1.2rem;
   padding-right: 1rem;
   font-weight: bold;
}

.res-result-label {
   padding-right: 1rem;
}

.legs {
   fill: #afafaf;
}

.body {
   fill: #374056;
}