.base-combo-cont {
   display: flex;
   flex-flow: column nowrap;
   position: relative;
}

.selected-item {
   border: var(--border-color) solid 0.1rem;
   background-color: var(--input-color);
   padding-right: 4rem;
}

.combo-modal {
   position: absolute;
   display: flex;
   flex-flow: column nowrap;
   top: 0;
   left: 0;
   margin: 0.2rem;
   margin-left: 30%;
   padding: 0.25rem;
   background-color: var(--combo-modal-back-color);
}

.combo-item-button {
   background: var(--background-expander-color);
   border: 0;
   border-radius: 0;
   margin: 0.1rem;
}

.combo-display {
   display: block;
}

.open-button {
   position: absolute;
   right: 0;
   top: 28%;
   padding: 0;
   margin: 0;

}