.calc-view-cont {
   display: flex;
   flex-flow: column nowrap;
   position: relative;
}

.calc-item-controls {
   display: flex;
   flex-flow: column nowrap;
   position: sticky;
   top: 0;
}

.calc-item-button {
   text-align: center;
}

.calc-container {
   display: block;
}