.base-packages-view {
   display: grid;
   grid-template-columns: 1fr 40%;
   grid-template-rows: 1fr;
   display: flex;
   flex-direction: column;
}

.selected-package-container {
   background-color: var(--select-item-color);
   padding: 0.5rem;
   padding-bottom: 2rem;
   position: sticky;
   bottom: 0;
}

.package-list-container {
   grid-column: 1;
   display: flex;
   flex-flow: column nowrap;
}

.selected-package-container {
   grid-column: 2;
   background-color: var(--select-item-color);
}

.selected-package-desc-input {
   word-wrap: break-word;
}

.base-selected-package-view {
   position: sticky;
}

.invalid-input {
   background-color: var(--invalid-color);
}